<h3>services</h3>

<div class="command_result">
<table>
<tr>
  <% ["name"].each do |name| %>
    <th id="<%= name %>"><%= name %></th>
  <% end %>
</tr>
<% @services.each do |row| %>
<tr>
  <% %w|name|.each do |col| %>
    <td id="<%= col %>"><%= row[col] %></td>
  <% end %>
</tr>
<% end %>
</table>
