<% @map.each do |row| %>
<div id="<%= row["name"] %>">
  <span class="title">
    <p><%= row["name"] %></p>
    <% if row.has_key?("vms") %>
    <p>VMs:</p>
    <ul>
      <% row["vms"].each do |vm| %>
      <li><%= vm["name"] %> (<%= vm["state"] %>)</li>
      <% end %>
    </ul>
    <% end %>
  </span>
</div>
<% end %>
