<h2>Processes</h2>

<table id="processes">
  <thead>
    <tr>
      <th>PID</th>
      <th>Command</th>
    </tr>
  </thead>
  <tbody>
    <% @processes.each do |process| %>
    <tr>
      <td><%= process[:pid] %></td>
      <td><%= process[:command] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
