body {
  font-family: 'Lato', sans-serif;
  background-color: #eee;
  color: #black;
}

#burrito {
}

.content-body {
}

main.content {
}

header, footer {
  background-color: black;
  color: white;
}

#logo .title {
  color: #a5a5a5;
  letter-spacing: 2px;
}

#toolbar .item a,
#toolbar .item a:visited {
  color: white;
}

#toolbar .item.menu a,
#toolbar .item.menu a:visited {
  color: black;
}


#menu {
  background-color: black;
  color: white;
  border: 2px solid #c88700;
  border-radius: 2px;
  padding: 5px;
  line-height: 20px;
}

.nav {
  background-color: #1d2630;
  color: white;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: grey;
}

pre.source {
  border: 1px solid grey;
}

#dev-wrap {

  .working-copy {
    background-color: #eee;
    border: 1px solid #888;
  }

  .working-copy-detail {
    border: 1px solid #bbb;
    background-color: #ddd;
  }

}
