#dev-wrap {

  #header-wrap {
    height: 30px;
  }

  .working-copy .buttons,
  .working-copy-detail .buttons {
    float: right;
  }

  .working-copy {
    padding: 10px;
    margin-top: 20px;

    .title {
      font-size: larger;
    }

    .change .detail pre {
      font-size: smaller;
      margin-top: 10px;
    }

  }

  .working-copy-detail {

    display: none;
    padding: 10px;

    color: black;

    .header {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .content .change input[type=checkbox],
    .select-all,
    .selection-buttons {
      display: none;
    }

    .content .title .status {
      margin-right: 5px;
    }



    .diff-wrap {
      padding: 3px;

      pre {
        margin: 6px;
        padding: 3px;
        border: 1px solid black;

        font-size: smaller;
      }
    }

  }

  div.error {
    background-color: #CCC;
    color: black;
    padding: 10px;
  }

}
