/*
*= require reset.css
*= require_self
*/

html {
  height: 100%;
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  /*height: 100%;*/
}

body {
  font-family: 'Oxygen',sans-serif;
  background-color: #5B5B5B;
}

header {
  height: 50px;
}

header, footer {
  background-color: black;
  color: white;
}

footer {
  padding: 5px;
}

#content {
  background-color: #1B1B1B;
  color: #a5a5a5;
  padding-top: 10px;
  padding-left: 10px;
}

#logo .title {
  color: #a5a5a5;
  font-weight: bold;
  letter-spacing: 3px;
}

#logo {
  height: 100%;
}

#logo .helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

#logo img {
  display: inline-block;
  vertical-align: middle;
}

#logo .title {
  height: 100%;
  vertical-align: middle;
  font-size: 24px;
}

#toolbar {
  float: right;
  height: 100%;
  width: 50vw;
  padding-right: 10px;
}

#toolbar .item {
  float: right;
  padding-top: 15px;
  height: 100%;
  display: inline-block;
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  background-color: lightgrey;
}

.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav, .HolyGrail-ads {
  flex: 0 0 10em;
}

.HolyGrail-nav {
  order: -1;
  background-color: #1D2630;
  color: white;
}

#hostmap {
  display: flex;
  flex-direction: row;
}

.host {
  margin: 10px;
  padding: 10px;
  border: 1px solid #2B2B2B;
  margin-bottom: 0;
}

.host .title {
  padding: 2px;
  text-align: center;
  background-color: lightgray;
  margin-bottom: 4px;
  color: black;
  border: 1px solid gray;
}

.vm {
  padding: 1px;
}

.vm:hover {
  color: white;
}

.vm_state_indicator.shut_off {
  background-color: red;
}

.vm_state_indicator.running {
  background-color: green;
}

h3#moses {
  margin-left: 10px;
}

div.vm a,
div.vm a:visited {
  text-decoration: none;
  color: #a5a5a5;
}

div.vm .button_wrap {
  visibility: hidden;
}

div.vm:hover a {
  color: lightgrey;
}

div.vm:hover .button_wrap {
  color: #a5a5a5;
  visibility: visible;
}

div.vm:hover .button_wrap:hover {
  color: lightgrey;
}
