/* from https://codepen.io/fskirschbaum/pen/MYJNaj */

.container {
	background-size: cover;
  padding: 20px;
  height: 50px;
  width: 50px;
}

.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

#machines .container,
#vhosts .container {
  height: 16px;
  width: 16px;
  padding: 1px;
}

#machines .led-box,
#vhosts .led-box {
  height: 12px;
  margin: 2px 0;
}

.led-green {
  margin: 0 auto;
  width: 12px;
  height: 12px;
  /*background-color: #ABFF00;*/
	background-color: green;
  border-radius: 50%;
  /*box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 1px 6px;*/
	box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, green 0 1px 6px;
}

.led-yellow {
  margin: 0 auto;
  width: 12px;
  height: 12px;
  background-color: #c88700;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #c88700 0 2px 12px;
}

.led-red {
  margin: 0 auto;
  width: 12px;
  height: 12px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 1px 6px;
}
