// Place all the styles related to the machine controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.machine .title {
  padding: 2px;

  margin-left: 4px;
  margin-top: 10px;
  border: 1px solid #2b2b2b;
  width: 250px;
}

.machine .title a,
.machine .title a:visited {
  text-decoration: none;
  color: #a5a5a5;
}

.machine .title a:hover {
  color: #5a5a5a;
}

.command_result table {
  margin-left: 5px;
  margin-top: 10px;
  border: 1px solid #5B5B5B;
}

.command_result table th {
  padding: 2px;
}

.command_result table td {
  padding: 4px;
}

.command_result table #path,
.command_result table #mount_point {
  text-align: left;
}

.command_result table #size,
.command_result table #used,
.command_result table #free {
  text-align: right;
}
