// Place all the styles related to the Machines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-width: 2px;

#machines {
  display: flex;
  flex-wrap: wrap;
}

#machines .machine {
  padding: 8px;
  margin: 8px;
  border: $border-width solid #222;
}

#machines .machine.host {
  font-size: larger;
}



#machine .wrapper {
  padding: 10px;
}

#machine .content {
  border: 1px solid #3B3B3B;
  padding-bottom: 15px;
  margin-bottom: 8px;
}

#machine #memory table td {
  padding: 5px;
}
