// Place all the styles related to the Machines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-width: 2px;

#machines {
  display: flex;
  flex-wrap: wrap;

  .machine {
    padding: 8px;
    margin: 8px;
    border: $border-width solid #222;
  }

  .machine.host {
    font-size: larger;
  }

}

#machine {

  .wrapper {
    padding: 10px;
  }

  .content {
    border: 1px solid #3B3B3B;
    padding-bottom: 15px;

    margin-bottom: 8px;
    min-height: 150px;
  }

  .row table td {
    padding: 5px;
  }

  .scan-button button,
  button#add-service {
    padding: 2px;
    line-height: normal;
  }

  button#add-service {
    margin-top: 5px;
  }

  #trafficGraph {

      #intervalDropdown {
          margin-bottom: 5px;
      }

  }

  .canvas-wrapper {
    // height: 120px;
    // width: 300px;
  }

  canvas {
    // width:600px !important;
    // height:400px !important;
  }

  .progress {
    min-width: 50px;
  }

}

#addServiceModal .params.container {

  margin-top: 15px;

}
