<div class="wrapper col col-12" id="trafficLog">
  <div class="content">
    <h2>Log</h2>

    <div id="log">
      <table>
        <thead>
          <td class="timestamp">Timestamp</td>
          <td>IP</td>
          <td>Status</td>
          <td>Request</td>
        </thead>
        <tbody>
          <% @parsed.reverse.each do |line| %>
          <tr>
            <td><%= Time.at(line[:timestamp_unix]).strftime("%d.%m.%Y %H:%M:%S") %></td>
            <td><%= line[:remote_ip] %></td>
            <td><%= line[:status] %></td>
            <td><%= line[:request] %></td>
          </tr>
          <% end unless @parsed.nil? %>
        </tbody>
      </table>
    </div>

  </div>
</div>
