<h1>Machines</h1>

<div id="machines">
  <% @machines.each do |machine| %>
    <div class="machine <%= machine.metadata["type"] %>">
      <%= link_to "/machines/#{machine.name}" do %>
        <span class="name"><%= machine.name %></span>
      <% end %>
    </div>
  <% end %>
</div>
