<div class="error veryglobal">
  <div class="toolbar">
    <i class="fa fa-times"></i>
  </div>
  <div>
    <span>Error: <%= message %></span>
    <pre><%= error.backtrace.join("\n") %></pre>
  </div>
</div>
