<span class="version">v <%= Vop::VERSION %></span>
<span class="reset float-right">
  <span class="status">&nbsp;</span>
  <i class="fa fa-sync" id="reset"></i>
  <%#= link_to "#reset", id: "reset" do %>
    <!--i class="fa fa-sync"></i-->
  <%# end %>
</span>
