<% if user_signed_in? %>
<span class="user"><%= current_user.email %></span>
<% end %>
<span class="box float-right">
  <span class="version">v <%= Vop::VERSION %></span>
  <span class="reset">
    <span class="status">&nbsp;</span>
    <i class="fa fa-sync" id="reset"></i>
  </span>
</span>
