<span id="logo">
  <span class="helper"></span>
  <img src="/assets/dblarr_small.png" />
  <span class="title">virtualop</span>
</span>
<span id="toolbar">
  <span class="item">
    <!--img src="/assets/clip.png"-->
    <i class="fa fa-wrench"></i>
  </span>
</span>
