<div id="index-map" class="container-fluid">
  <% @accounts.each do |account, payload| %>
    <% (hosts, host_vms) = payload %>
    <div class="account">
      <h2><%= account.alias %></h2>
      <div id="host_map">
      <% hosts.each do |host| %>
        <%= render partial: "host", locals: {
            host: host,
            vms: host_vms[host.name]
          } %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
